/* Global styles
------------------------------------*/
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header
------------------------------------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
  position: static;
}
.logo {
  padding-left: 10px;
  height: 50px;
  text-align: left
}
img {
  max-width: 100%;
  max-height: 100%;
}
nav {
  text-align: right;
  padding-right: 10px;
  width: 100%;
}
nav li {
  display: inline-block;
  text-align: center;
}
nav a {
  text-decoration: underline;
  color: seashell;
  padding: 10px;
}

/* Main content
---------------------------------*/

.main {
  width: 1200px;
  margin: 0 auto;
}

#mission {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../images/mission-background.jpg);
  height: 700px;
  width: 1200px;
  text-align: center;
  justify-content: center;
}

.mission-text {
  height: 130px;
  width: 1200px;
  margin: auto;
  background-color: black;
}

/* Featured tea content
--------------------------*/

.featured-tea {
  display: flex;
  width: 1000px;
  height: 800px;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  justify-content: center;
  align-content: space-around;
  text-align: center;
}

.featured-tea-heading {
  position: static;
  height: 100px;
  width: 1200px;
}

.rectangle {
  height: 200px;
  width: 300px;
  margin: auto;
}

/* Locations Section
------------------------*/

#locations {
  display: block;
  background-image: url(../images/locations-background.jpg);
  height: 500px;
  width: 1200px;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-top: 70px;
}

.locations-heading h2{
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 10px;

}

.flex-countainer-locations.rectangle {
  display: flex;
  background-color: black;
  opacity: 1;
}

.flex-container-locations {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
}
